{% extends "base.html" %}

{% block contenido %}
<section>
 <div>
   <h1>Lista de recetas</h1>
   <a href="{% url 'crear_receta' %}">Crear receta</a>
   <br>

   <table class="table">
     <tbody>
       <tr>
         <th>Nombre</th>
         <th>Descripcion</th>
         <th>Ingredientes</th>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       {% for receta in object_list %}
       <tr>
         <td>{{ receta.nombre }}</td>
         <td>{{ receta.descripcion }}</td>
         <td>{{ receta.ingredientes }}</td>
         <td>
           <a href="{% url 'ver_receta' receta.id %}">Ver</a>
         </td>
         {% if user == receta.creador %}
         <a class="btn btn-link" href="{% url 'editar_receta' receta.id %}">editar</a>
         {% endif %}
       </td>
       <td>
         {% if user == receta.creador %}
         <form action="{% url 'eliminar_receta' receta.id %}" method="post">
           {% csrf_token %}
           <input type="submit" class="btn btn-link" value="eliminar"/>
         </form>
         {% endif %}
       </td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
         

 </div>
</section>
{% endblock contenido %}
