{% extends "base.html" %}

{% block contenido %}
<section>
 <div>
   <h1>Lista de recetas</h1>
   <a href="{% url 'crear_receta' %}">Crear receta</a>
   <br>

   <table class="table">
     <tbody>
       <tr>
         <th>ID</th>
         <th>Nombre</th>
         <th>Apellido</th>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       {% for receta in object_list %}
       <tr>
         <td>{{ receta.nombre }}</td>
         <td>{{ receta.descripcion }}</td>
         <td>{{ receta.ingredientes }}</td>
         <td>
           <a href="{% url 'ver_receta' receta.id %}">Ver</a>
         </td>
         <td>
           <a href="{% url 'editar_receta' receta.id %}">Editar</a>
         </td>
         <td>
           <a href="{% url 'eliminar_receta' receta.id %}">
             <i class="bi bi-trash"></i>
           </a>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>

 </div>
</section>
{% endblock contenido %}
